*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #696b79;
    font-size: 13px;
    padding: 3px;
}

.cont{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.container{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 25px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}


.img1{
    width:75px;
    height:65px;
    padding:0 10px;
}


.container2{
    display:flex;
    height: 80px;
    color: #282c3f;
    font-weight: 600;
    font-size: smaller;
}

li{
    list-style: none;
    padding:0 22px;
}

sup{
    font-size: 55%;
    color: red;
}

.icon2{
    width: 10px;
    height: 15px;
}
.search-logo{
    border-radius:  5px 0 0 5px;
    height: 42px;
    width: 40px;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
}



input{
    background-color: whitesmoke;
    height: 42px;
    border-radius:0 5px 5px 0 ;
    border: 0;
    width: 485px;
    border-left: none;
}

.icon{
    color: rgb(red, green, blue);
    font-weight: 700;
    font-size: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon1{
  font-size: 15px;
  padding-bottom: 5px;   
}

.container5{
    padding: 10px 50px 0 50px;
}

.contain{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.con{
    display: flex;
}
.image{
    border-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: auto;
}

.container12{
    display: flex;
}

.footer{
    max-width: 1080px;
    margin: auto;
    min-width: 980px;
}

.sect1{
    max-width: 1080px;
    margin: auto;
    min-width: 980px;
}
.part1{
    display: flex;
    flex-direction: column;
    float: left;
    width: 155px;
    padding-right: 20px;
}

.para{
    padding-bottom: 14px;
    font-size: 12px ;
    font-weight: 700;
}
.pr{
    padding-top: 14px;
}

.part2{
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
}


.part3{
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
}

.div1{
    display: inline-block;
}

.img4{
    margin-right: 10px;
    height: 42px;
}

.img5{
    width: 20px;
    height: 20px;
}

.part4{
    width: 250px;
    float: left;
}
.section{
    margin: 15px 0 30px;
    color: #696b79;
}

.section1{
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 47.5px;
    height: 40px;
}

.section2{
  height: 40px;
  font-size: 14px;
}

.img6{
    width: 48px;
    height: 40px;
}

strong{
    
    color: #282c3f;
    font-weight: 700;
}

.part5{
float: left;
display:flex;
align-items: center;
}

hr{
    border: 1px;
    height: 1px;
    background-color: #eaeaec;
}

.a1{
        color: blue;
        font-size: medium;
        padding: 0;
}

